---
description: Validation of the algorithms via mathematical methods
---

# Formal Verification

### [Cetora 3/12/2020](https://github.com/aave/protocol-v2/blob/master/audits/Certora-FV-aave-v2-03-12-2020.pdf)

![](<../.gitbook/assets/Screenshot 2021-05-17 at 21.24.16 (1).png>)
