---
description: Validation of the algorithms via mathematical methods
---

# Formal Verification

### [Cetora 1/26/2022](https://app.aave.com/#/governance/66-QmXz9i8zYz2g9XpTP63eKYPZxPftF76hQXr2jzWTMX7zY4)

